@model CartoonsWebApp.Awards

@{
    ViewData["Title"] = "Details";
}


<h1>@ViewBag.awardsName</h1>
@if (User.IsInRole("admin"))
{<div>
        <h3>
            Завантаження інформації про мультфільми з нагородою "@ViewBag.awardsName" в файл:
            @Html.ActionLink("Download", "Export", new { name = ViewBag.awardsName, id = ViewBag.awardsId })
        </h3>
    </div>}
    <div>
        <h4>Awards</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.CartoonAwards)
            </dt>
            <dd class="col-sm-12">
                @foreach (var auth in ViewData["CartoonsName"] as List<Cartoons>)
                {

                    @Html.ActionLink(@auth.Name, "Details", "Cartoons", new { id = auth.Id, name = auth.Name })
                    <a> </a>
                }
            </dd>
            @*<dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>*@
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
